# Salesforce cache
.sfdx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# test artifacts
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Eclipse
.project

# MacOS folder atttribute tracking
**/.DS_Store